{% extends 'base/base.html' %}

{% block title %}Inicio{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col offset-lg-1 col-lg-10">
                <div class="card">
                    <div class="card-header text-center">
                        Modulo consulta cliente
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            <div class="input-group my-3">
                                <input type="number" class="form-control" name="documentoCliente" placeholder="Ingresa el número de cédula del cliente" value="{{request.GET.documentoCliente}}">
                                <button class="btn btn-primary btn-lg" type="submit" id="btnSearch" onClick="this.form.submit(); this.disabled=true;" >Buscar</button>
                            </div>
                        </form>
                        
                        {% if request.GET.documentoCliente %}
                            {% if cliente %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Cedula</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Celular</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{cliente.documento}}</td>
                                                <td>{{cliente.nombres}} {{cliente.apellidos}}</td>
                                                <td>{{cliente.correo}}</td>
                                                <td>{{cliente.celular}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#solicitudModal">
                                                        Gestionar solicitud
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {% if cliente.citacliente_set.all %}
                                    <h5 class="text-center mt-4">Citas agendadas</h5>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Medico</th>
                                                <th scope="col">Especialidad</th>
                                                <th scope="col">Sede</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for citacliente in cliente.citacliente_set.all %}
                                                    <tr>
                                                        <td>{{citacliente.cita.fecha|date:'d/m/Y h:i A'}}</td>
                                                        <td>{{citacliente.cita.medico.nombre}}</td>
                                                        <td>{{citacliente.cita.especialidad.nombre}}</td>
                                                        <td>{{citacliente.cita.sede.nombre}}</td>                                                    
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}    

                            {% else %}
                                No se encontraron coincidencia para "{{request.GET.documentoCliente}}" 
                                <div class="text-center">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addClienteModal">
                                        Agregar cliente
                                    </button>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addClienteModal" tabindex="-1" aria-labelledby="addClienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addClienteModalLabel">Agregar Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'main:crearCliente' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="documento" class="form-label">Número de documento</label>
                            <input type="number" class="form-control" name="documento" id="documento" value="{{request.GET.documentoCliente}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" name="nombres" id="nombres" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" name="apellidos" id="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" class="form-control" name="correo" id="correo" required>
                        </div>
                        <div class="mb-3">
                            <label for="celular" class="form-label">Celular</label>
                            <input type="number" class="form-control" name="celular" id="celular" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="solicitudModal" tabindex="-1" aria-labelledby="solicitudModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="solicitudModalLabel">Gestionar solicitud del cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'main:crearSolicitud' %}">
                        {% csrf_token %}
                        <input type="number" class="d-none" name="documentoCliente" id="documentoCliente" value="{{request.GET.documentoCliente}}">
                        <div class="mb-3">
                            <label for="tipoSolicitudId" class="form-label">Tipo de solicitud</label>
                            <select class="form-select" id="tipoSolicitudId" name="tipoSolicitudId" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                                {% for tipoSolicitud in tipoSolicitudes %}
                                <option value="{{tipoSolicitud.id}}">{{tipoSolicitud.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="llamaEnNombrePropio" class="form-label">¿Llama en nombre propio? </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="llamaEnNombrePropio" id="llamaEnNombrePropioSi" value="True" required>
                                <label class="form-check-label" for="llamaEnNombrePropioSi">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="llamaEnNombrePropio" id="llamaEnNombrePropioNO" value="False" required>
                                <label class="form-check-label" for="llamaEnNombrePropioNO">No</label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="seAgendaCita" class="form-label">¿Se agenda cita? </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="seAgendaCita" id="seAgendaCitaSi" value="True" required>
                                <label class="form-check-label" for="seAgendaCitaSi">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="seAgendaCita" id="seAgendaCitaNO" value="False" required>
                                <label class="form-check-label" for="seAgendaCitaNO">No</label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="quedaCitaEnEspera" class="form-label">¿Queda cita en espera? </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="quedaCitaEnEspera" id="quedaCitaEnEsperaSi" value="True" required>
                                <label class="form-check-label" for="quedaCitaEnEsperaSi">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="quedaCitaEnEspera" id="quedaCitaEnEsperaNO" value="False" required>
                                <label class="form-check-label" for="quedaCitaEnEsperaNO">No</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}